@import '../variables';

.launches-container {
    margin-right: 5rem;
    margin-top: 3.25rem;
    flex: 1 1 100%;
   
    @media screen and (max-width: $breakpoint-tablet) {
        margin-right: 0rem;
    }
    &__error {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        font-family: $font-family;
        font-size: 1.25rem;
    }
}