@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: $breakpoint-mobile) {
  html {
    font-size: 12px;
  }
}